---
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
import Layout from './Layout.astro';

interface Props {
  locale: string;
  title?: string;
}

const { locale, title } = Astro.props;
---

<Layout locale={locale} title={title}>
  <div class="min-h-screen flex flex-col">
    <Header locale={locale} />
    <div class="flex flex-1">
      <Sidebar locale={locale} />
      <main class="flex-1 overflow-y-auto p-8 max-w-4xl mx-auto">
        <slot />
      </main>
    </div>
  </div>
</Layout>
